

h3{
    margin-right:1em ;
    margin-left: 4em;
}

h2{
    text-align: center;
    text-decoration: none;
}

.order-filters{
display:grid;
grid-template-columns: 1fr 1fr 1fr;
justify-items: center;
}

.order-filters h3{
    margin:.5em auto;
    font-size: 1em;
    background-color: beige;
    text-align: center;
}

.orders{
    text-align: center;
    justify-content: space-between;
}


.buttonShow{
    margin-top: 1em;
    padding: .6em;
    font-size: .8em;
    cursor: pointer;
}


.filters{
    justify-content: space-between;
   text-align: center;
}

.select{
    justify-content: center;
    margin-left: 2em;
    padding: .3em;
}


.button{
    padding: .8em;
    border:solid 1px black;
    color:black;
    background-color:#03A9F4 ;
    text-decoration: none;
    font-size: .8em;
    cursor: pointer;
    transition:.3s;
};

.button:hover {
 padding: .8em;
}

.contenedor{
    text-decoration: none;
}

.navLink{
    text-decoration: none;
    color: inherit;
}

.pagination{
    text-align: center;
    justify-content: space-between;
}
.pagination p{
    font-size: 1em;
    padding: .2em;
    background-color:beige;
}

.pages {
    margin-inline: .5em;
    padding: .6em;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    border-style:double;
    cursor: pointer;
}

.contList{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.firstDogs{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

@media (max-width:1080px) {
    .buttonShow{
        margin-left: 1.5em;
    }
}


  
  

