.cardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
  }
  
  .card {
    background-color: aliceblue;
    width: 18em;
    margin: 8px;
    flex-direction: column;
    text-decoration: none;
    border: 1px solid black;
  }
  
  .card img {
    width: 100%;
    height: 15em;
    object-fit: cover;
  }

  .h2-nameDog{
    font-size: 1.2em;
    margin: .6em;
  }

  .h3-dogcardDetail{
    font-size: 1em;
    margin: .5em
  }

  
  